

@font-face {
    font-family: 'HachiMaru';
    src: url(../fonts/HachiMaruPop-Regular.woff2);
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-VariableFont_wght.woff2);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

html {
    overflow-y:scroll;
    overflow-x: none;
    scrollbar-width: none;
    background-color: whitesmoke;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HEADER */

header{
    width: 100vw;
    padding: 30px 0;
    background-color: rgba(232, 232, 232, 0.87);
    position: fixed;
    z-index: 10;
}
.header{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center;
    justify-content: center;
}

.navbar_item{
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    font-family: inherit;

    &:active{
        font-weight: bold;
    }

    @media (hover) {
        &:hover{
            cursor: pointer;
            font-weight: bold;
        }
    }
}

.logo{
    width: 10%;
}

.about{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about > *{
    margin: 0 20px;
    border: none;
    background-color: transparent;
    font: inherit;
}

.create_request{
    padding: 12px 30px;
    font-size: 0.8rem;
    background-color: rgb(0, 97, 0);
    color: white;
    border-radius: calc(10px + 1rem);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transform: background-color 0.3;

    &:active{
        background-color: rgb(0, 97, 0, 0.8);
    }

    @media (hover) {
        &:hover{
            cursor: pointer;
            transform: background-color 0.3;
            background-color: rgb(0, 97, 0, 0.8);
        }
    }
}


.logo-small{
    display: none;
}

#check {
    display: none;
}


    
.icons {
    position:relative;
    left: calc(95% - 13rem - 20px);
    font-size: 2.2rem;
    
    color: black;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1100px) {
    header{
        display: flex;
    }

    .logo-small{
        display:inline-block;
        align-self: center;
        position: relative;
        left: 20px;
        font-family: 'HachiMaru';
    }

    .icons{
        display:inline-flex;
    }
      
    #check:checked~.icons #menu-icon {
        display: none;
    }
      
    .icons #close-icon {
        display: none;
    }
      
    #check:checked~.icons #close-icon {
        display: block;
    }

    .header{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0, .1);
        backdrop-filter: blur(20px);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;

        .create_request{
            width: 185.89px;
        }

        *{
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;

            *{
                margin: 20px 0;
            }
        }
    }
      
    #check:checked ~ .header{
        height: 300.4px;
        z-index: 100;
    }
}

.void_for_header{
    height: calc(60px + 20px + 1rem);
}


/* MAIN */

main{
    margin-top: 100px;
    width: 100vw;
}

.section1{
    .name{
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    h1{
        font-family: 'HachiMaru';
        font-size: 3rem;
        text-align: center;
        color: rgb(0, 97, 0);
        width: 60vw;
        font-weight: bold;
    }

    .photos-div{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .photos{
        width: 60vw;
        height: 40vw;
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    .photo-2{
        position: relative;
        width: 20vw;
        height: 30vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: -5vw;
        border-radius: 10px;
        left: -15vw;
    }

    .photo-3{
        position: relative;
        width: 20vw;
        height: 30vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: -35vw;
        border-radius: 10px;
        left: calc(100% - 5vw);
    }

    .text-about-photo{
        position: relative;
        top: -25vw;
        display: flex;
        justify-content: center;
        p{
            width: 50%;
            font-family: 'Nunito';
            background-color: white;
            padding: 40px;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
        }
    }

}
.button_div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
    button{
        text-decoration: none;
        padding: 12px 30px;
        font-size: 1.2rem;
        border-color: transparent;
    }
}



.section2{
    display: grid;
    margin-top: 100px;
    background-color: rgb(222, 192, 165);
    padding-right: 5vw;
    .description{
        grid-column: 1;
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 100px 0px 100px 100px;

        h1{
            font-family: 'HachiMaru';
            display: inline-block;
            font-size: 2rem;
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin: 20px;
            letter-spacing: -3px;
        }

        p{
            font-family: 'Nunito';
            color: white;
            margin: 20px;
            font-size: 1.2rem;
            width: 35vw;
        }
    }
    .photo-div{
        grid-column: 2;
        width: 40vw;
        padding: 5vw 0;
        min-height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .photo1{
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 19vw;
            height: 100%;
        }
        .photo2{
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: 19vw 102%;
            width: 19vw;
            height: 100%;
        }
    }
}



.section3{
    background-color: rgb(253, 248, 244);
    padding-top: 80px;
    padding-left: 10vw;
    padding-right: 10vw;
    h1{
        font-family: 'HachiMaru';
        display: inline-block;
        font-size: 2.5rem;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 20px;
        letter-spacing: -3px;
        width: 60vw;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
        align-items: center;
        justify-content: center;
    }
    li{
        z-index: 2;
        width: 30vw;
        list-style-type: none;
        margin: 20px;
        margin-top: 100px;
        margin-left: 100px;

        .photo{
            background-color: rgb(222, 192, 165);
            z-index: -1;
            width: 150px;
            height: 150px;
            position: absolute;
            transform: translate(-75%, -40%);
            border-radius: 50%;
            p {
                color: rgb(253, 248, 244);
                font-weight: bold;
                font-family: 'HachiMaru';
                font-size: 5rem;
                transform: translate(-10%, -15%);
            }
        }

        h2{
            font-family: 'HachiMaru';
            display: inline-block;
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
            font-weight: bold;
            margin-bottom: 10px;
            letter-spacing: -3px;
        }

        p{
            z-index: 2;
            font-family: 'Nunito';
            color: rgb(0, 0, 0);

            font-size: 1.2rem;
        }
    }

    .button_div{
        margin-top: 0;
        padding-bottom: 20px;
    }

}


.section4{
    margin-top: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    h1{
        font-family: 'HachiMaru';
        display: inline-block;
        font-size: 2rem;
        color:rgb(0, 0, 0);
        font-weight: bold;
        margin: 20px;
        letter-spacing: -3px;
        width: 50vw;
    }

    .about{
        display: flex;
        flex-direction: row;
        width: 80vw;

        .photo-div{
            width: 60%;
            /* padding: 80px; */

            .photo{
                
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;                
                height: 35vw;
            }
        }
        .description{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 100px 100px 100px 0px;
            p{
                font-family: 'Nunito';
                color: rgb(0, 0, 0);
                margin: 20px;
                font-size: 1.2rem;
                width: 35vw;
            }
        }
    }
}

.section5{
    background-color: rgb(253, 248, 244);
    padding-top: 80px;
    padding-left: 10vw;
    padding-right: 10vw;
    h1{
        font-family: 'HachiMaru';
        display: inline-block;
        font-size: 2.5rem;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 20px;
        letter-spacing: -3px;
        width: 60vw;
    }

    .zones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .zone-item{
        .photo{
            border-radius: 50%;
            width: 156.3px;
            height: 156.3px;
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 20px;
        }
        span{
            position: relative;
            top: calc(-156.3px - 10px);
            left: 136.3px;
        }
        .bx{
            background-color: rgb(222, 192, 165);
            border-radius: 50%;
            color: white;

        }
        .p{
            font-family: 'Nunito';
            color: rgb(0, 0, 0);    
            font-size: 1.5rem;
            margin-top: -15px;
            text-align: center;
        }
        .description{
            position: absolute;
            display: none;
            bottom: 45px;
            padding: 10px;
            border-radius: 5px;
            transform: translate(-9vw, 0);
            font-family: 'Nunito';
            color: rgb(0, 0, 0);
            font-size:  1rem;
            width: 15vw;
            background-color: white;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
        }
        &:hover span > .description{
            display: block;
        }

        .description::before{
            content: '✔';
        }
    }
}


.section6{
    .zones > .zone-item > span > .bx{
        background-color: rgb(0, 95, 0);
    }
    .zones > .zone-item > span > .bx1{
        background-color: rgb(136, 151, 0);
    }
}


.section7{
    margin-top: 100px;
    padding-left: 5vw;
    padding-right: 5vw;    

    h1{
        font-family: 'HachiMaru';
        display: inline-block;
        font-size: 2rem;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 20px;
        letter-spacing: -3px;
        width: 60vw;
    }
    .services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;


        .service{
            width: calc(25vw - 20px);
            margin: 20px;
            border-radius: 30px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .service1{
            background-color:rgb(239, 200, 166);
        }
        .service2{
            background-color:rgb(245, 225, 207);
        }
        .service3{
            
            background-color:rgb(216, 189, 168);

            ul > p{
                margin-top: 10px;
                color: rgb(78, 78, 78);

            }
        }
        .service4{
            background-color:rgb(248, 226, 207);
        }

        h2{
            font-family: 'HachiMaru';
            display: inline-block;
            font-size: 1.2rem;
            color: rgb(0, 0, 0);
            font-weight: bold;
            margin-bottom: 10px;
            letter-spacing: -3px;
        }
        ul{
            list-style-type: none;
        }
        li{
            margin-top: 10px;
            color: rgb(78, 78, 78);
        }

        li::before{
            content: '— ';
        }

        .price{
            margin: 10px;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.3rem;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
        .get_service{
            display: inline-block;
            width: fit-content;
            padding: 12px 30px;
            font-size: 0.8rem;
            background-color: rgb(0, 97, 0);
            color: white;
            border-radius: calc(10px + 1rem);
            display: flex;
            border-color:transparent;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            transform: background-color 0.3;

            &:active{
                background-color: rgb(0, 97, 0, 0.8);
            }

            @media (hover) {
                &:hover{
                    cursor: pointer;
                    transform: background-color 0.3;
                    background-color: rgb(0, 97, 0, 0.8);
                }
            }
        }
    }
}

.section8{
    margin-top: 100px;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color:rgb(253, 248, 244);
    h1{
        font-family: 'HachiMaru';
        display: inline-block;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 20px;
        letter-spacing: -3px;
        width: 60vw;
    }

    .projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .project{
            width: 40vw;
            margin: 20px;
            .photos{
                width: 100%;                
                height: 35vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
                overflow: hidden;

                .before{
                    position: relative;
                    width: calc(50% - 10px);
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .before::before{
                    content: 'ДО';
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px;
                    font-family: 'Nunito';
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    background-color: rgba(0,0,0, .6);
                    border-radius: 10px;
                }

                .after{
                    width: calc(50% - 10px);
                    height: 100%;
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .after::after{
                    content: 'ПОСЛЕ';
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    font-family: 'Nunito';
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    background-color: rgba(0,0,0, .6 );
                    border-radius: 10px;
                }
            }

            
        }
    }
}

.section_with_contacts{
    padding: calc(10% + 20px);
    text-align: center;
    

    h1{
        font-family: 'HachiMaru';
        padding: 7% 10%;
    }


    .contacts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        height: 40%;
        align-items: end;

        .void{
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            margin: 10px;
        }
        
        .photo{
            position: absolute;
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            margin: 10px;

            @media (hover) {
                &:hover{
                    cursor: pointer;
                    width: calc(10vw + 15px);
                    height: calc(10vw + 15px);
                    margin: 2.5px;
                    margin-bottom: -5px;
                }
            }
        
        }
        p{
            font-family: 'Nunito';
            color: rgb(0, 0, 0);
            margin: 20px;
            font-size: 1.2rem;
        }
    }
}

.text-me{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.text-me-icon{
    background-color: rgb(0, 95, 0);
    color: white;
    padding: 10px;
    border-radius: 50%;

    

    &:active{
        background-color:rgba(0, 95, 0, 0.719);
    }

    @media (hover) {
        &:hover{
            cursor: pointer;
            background-color:rgba(0, 95, 0, 0.719);
        }
    }
}

.contacts-text-me{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
    display: none;
    width: fit-content;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 150;

    .messenger{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        
        .photo{
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 10px;

            @media (hover) {
                &:hover{
                    cursor: pointer;
                    width: 75px;
                    height: 75px;
                    margin-top: 5px;
                }
            }
        
        }
        p{
            font-family: 'Nunito';
            color: rgb(0, 0, 0);
            margin: 20px;
            font-size: 0.7rem;
        }
    }
}

.cross{
    display: none;
}

.message{
    display: block;
}

#check2{
    display: none;
}

#check2:checked ~ label > div > .cross{
    display: block;
}

#check2:checked ~ label > div > .message{
    display: none;
}

#check2:checked ~ .contacts-text-me{
    display: flex;
}

.scroll-elem{
    scroll-behavior: smooth;
    scroll-margin: calc(60px + 20px + 1rem);
}

.popup_with_contacts{
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, .1);
    border-radius: 10px;
    z-index: 200;
    padding: 20px;
    text-align: center;

    h1{

        font-family: 'HachiMaru';
        padding: 7% 10%;
    }

    .cross{
        position: absolute;
        top: 20px;
        right: 20px;
        color:rgb(0, 0, 0);
        display: block;

        @media (hover) {
            &:hover{
                cursor: pointer;
                color:rgb(0, 95, 0)
            }
        }
    }

    .contacts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        height: 40%;
        align-items: end;
        
        
        .photo{
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            margin: 10px;

            @media (hover) {
                &:hover{
                    cursor: pointer;
                    width: calc(10vw + 15px);
                    height: calc(10vw + 15px);
                    margin: 2.5px;
                    margin-bottom: -5px;
                }
            }
        
        }
        p{
            font-family: 'Nunito';
            color: rgb(0, 0, 0);
            margin: 20px;
            font-size: 1.2rem;
        }
    }
}

#check-3{
    display: none;
}

#check-3:checked ~ .popup_with_contacts{
    display: block;
}


@media screen and (max-width: 1200px) {
    .service{
        display: block;
        width: calc(50vw - 20px) !important;
    }
    .section1 > .name > h1{
        font-size: 2rem;
    }

    .section1 > .photos-div > .photos > .text-about-photo > p{
        width: 100%;
    }
    .section1 > .photos-div > .photos > .text-about-photo{
        width: 90vw;
        transform: translate(-15vw, 0);
    }
    .section1 > .button_div{
        margin-top: 200px;
    }
    .section2 > .photo-div{
        grid-column: 1;
        width: 100%;
        div{
            width: 40vw !important;
        }
        .photo2{
            background-size: cover;
        }
    }

    .section2 > .description{
        padding: 20px;
        h1{
            font-size: 1.5rem;
        }
        p{
            width: 70vw !important
        }
    }

    .section3{
        li{
            margin-left: 15vw;
            width: 80vw;
        }
        h1{
            font-size: 1.7rem;
        }
    }

    .section4{
        
        h1{
            font-size: 1.3rem;
        }
        .about{
            flex-direction: column;

            .photo-div{
                width: 100%;
                height: 60vh;
                .photo{
                    width: 100%;
                    height: 100%;
                }
            }
            .description{
                width: 100%;
                padding: 0;
                margin: 0;
                p{
                    width: 100%;
                }
            }
        }
    }

    .section5{
        h1{
            font-size: 1.3rem;
        }
        .zones{
            .zone-item{
                .description{
                    width: 30vw;
                    transform: translate(-20vw, 0);
                }
                .photo{
                    width: 100px;
                    height: 100px;
                }
                span{
                    position: relative;
                    top: calc(-110px - 10px);
                    left: 90px;
                }
            }
        }
    }
    .section7{
        h1{
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 1000px) {
    .popup_with_contacts{

        padding: 10px;
        text-align: center;
    
        h1{
            font-size: 1.2rem;
            font-family: 'HachiMaru';
            padding: 7% 10%;
        }
    
        .cross{
            position: absolute;
            top: 20px;
            right: 20px;
            color:rgb(0, 0, 0);
            display: block;
            width: 30px;
            height: 30px;
    
            @media (hover) {
                &:hover{
                    cursor: pointer;
                    color:rgb(0, 95, 0)
                }
            }
        }
    
        .contacts{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            height: 40%;
            align-items: center;
            .messenger{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .photo{
                background-color: rgb(255, 255, 255);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
    
                @media (hover) {
                    &:hover{
                        cursor: pointer;
                        width: calc(10vw + 15px);
                        height: calc(10vw + 15px);
                        margin: 2.5px;
                        margin-bottom: -5px;
                    }
                }
            
            }
            p{
                font-family: 'Nunito';
                color: rgb(0, 0, 0);
                margin: 20px;
                font-size: 1rem;
            }
        }
    }

    .section_with_contacts{

        padding: calc(10% + 10px);
        text-align: center;
    
        h1{
            font-size: 1.2rem;
            font-family: 'HachiMaru';
            padding: 7% 10%;
        }
    
        .contacts{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            height: 40%;
            align-items: center;
            .messenger{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .void{
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
            }
            
            .photo{
                background-color: rgb(255, 255, 255);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
                
    
                @media (hover) {
                    &:hover{
                        cursor: pointer;
                        width: calc(10vw + 15px);
                        height: calc(10vw + 15px);
                        margin: 2.5px;
                        margin-bottom: -5px;
                    }
                }
            
            }
            p{
                font-family: 'Nunito';
                color: rgb(0, 0, 0);
                margin: 20px;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .section8{
        h1{
            font-size: 2rem;
        }
        .projects{
            .project{
                width: 90vw;
                height: 40vh;
                .photos{
                    width: 100%;
                    height: 100%;
                    .before{
                        width: calc(50% - 5px);
                        height: 100%;
                    }
                    .after{
                        width: calc(50% - 5px);
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .section1 > .photos-div > .photos{
        width: 90%;
        height: 30vh;
        .text-about-photo{
            transform: translate(0, 40vh);
            p{
                width: 90%;
                padding: 10px;
                font-size: 1rem;
            }
        }
        .photo-2{
            display: none;
        }
        .photo-3{
            display: none;
        }
    }
    .section1 > .button_div > button{
        font-size: 0.8rem;
    }
    .section1 > .button_div{
        margin-top: 100px;
    }

    .section1 > .name > h1{
        font-size: 1.3rem;
    }
    .service{
        width: calc(80vw - 20px) !important;
    }
    .section4 > .about > .description{
        width: calc(100vw - 80px);
        p{
            width: 100%;
            padding: 0;
            margin: 0;
            padding-top: 20px;
        }
    }

    .contacts-text-me > a > .messenger{
        margin: 0;
        p{
            font-size: 0.5rem;
            padding: 0;
        }
        .photo{
            width: 40px;
            height: 40px;
        }
    }
    
}

@media screen and (max-width: 400px) {
    .contacts-text-me > a > .messenger{
        margin: 0 5px;
        p{
            font-size: 0.5rem;
            padding: 0;
            margin: 5px 0;
        }

        .photo{
            width: 40px;
            height: 40px;
        }
    }
    .section1 > .button_div{
        margin-top: 130px;
    }
}

@media screen and (max-width: 350px) {
    .section5 > .zones > .zone-item > span > .description{
        width: 90vw;
        transform: translate(-52.5vw, 0);
    }

    .section1 > .name > h1{
        font-size: 1rem;
        padding-right: 0;
        padding-left: 0;
        width: 90vw
    }
    .section1 > .name{
        padding-left: 0;
        padding-right: 0;
    }

    .section3 > ul > li > h2{
        font-size: 1rem;
    }
    .section5{
        h1{
            font-size: 1rem;
        }
    }
    .section4 > h1{
        font-size: 1rem;
    }
    .section2 > .description > h1{
        font-size: 1rem;
    }

    .popup_with_contacts{
        padding: 2.5px;
        padding-top: 25px;
        text-align: center;
        height: auto;
    
        h1{
            font-size: 0.9rem;
            font-family: 'HachiMaru';
            padding: 7% 10%;
        }
    
        .cross{
            position: absolute;
            top: 20px;
            right: 20px;
            color:rgb(0, 0, 0);
            display: block;
            width: 20px;
            height: 20px;
    
            @media (hover) {
                &:hover{
                    cursor: pointer;
                    color:rgb(0, 95, 0)
                }
            }
        }
    
        .contacts{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            height: 40%;
            align-items: center;
            .messenger{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .photo{
                background-color: rgb(255, 255, 255);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
    
                @media (hover) {
                    &:hover{
                        cursor: pointer;
                        width: calc(10vw + 15px);
                        height: calc(10vw + 15px);
                        margin: 2.5px;
                        margin-bottom: -5px;
                    }
                }
            
            }
            p{
                font-family: 'Nunito';
                color: rgb(0, 0, 0);
                margin: 5px;
                font-size: 0.8rem;
            }
        }
    }

    .section_with_contacts{
        padding: calc(10% + 2.5px);
        padding-top: calc(10% + 25px);
        text-align: center;
        height: auto;
    
        h1{
            font-size: 0.9rem;
            font-family: 'HachiMaru';
            padding: 7% 10%;
        }
    
    
        .contacts{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            height: 40%;
            align-items: center;
            .messenger{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .void{
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
            }
            
            .photo{
                background-color: rgb(255, 255, 255);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 10px;
    
                @media (hover) {
                    &:hover{
                        cursor: pointer;
                        width: calc(10vw + 15px);
                        height: calc(10vw + 15px);
                        margin: 2.5px;
                        margin-bottom: -5px;
                    }
                }
            
            }
            p{
                font-family: 'Nunito';
                color: rgb(0, 0, 0);
                margin: 5px;
                font-size: 0.8rem;
            }
        }
    }

    .contacts-text-me > a > .messenger{
        margin: 0 2px;
        p{
            font-size: 0.5rem;
            padding: 0;
            margin: 2px 0;
        }

        .photo{
            width: 30px;
            height: 30px;
        }
    }
    .contacts-text-me{
        padding: 2px;
    }
    .section1 > .button_div{
        margin-top: 180px;
    }

    .section8{
        h1{
            font-size: 1.3rem;
        }
        .projects{
            .project{
                width: 90vw;
                height: 30vh;
                .photos{
                    width: 100%;
                    height: 100%;
                    .before{
                        width: calc(50% - 2px);
                        height: 100%;

                        &::before{
                            font-size: 0.8rem;
                        }
                    }
                    .after{
                        width: calc(50% - 2px);
                        height: 100%;

                        &::after{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    
}

a{
    text-decoration: none;
}